.App {
  text-align: center;
}

pre.result {
  display: block;
  text-align: left;
  max-width: 300px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

p.error {
  padding: 0px 30px;
  color: #d22;
}

.App input, button {
  margin: 2rem 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

.App input {
  width: 6rem;
}

.App button {
  background-color: #222;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

