html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Sans-serif;
  font-size: 1.05rem;
  --width: 80ch;
  --light-color: hsl(214, 54%, 97%);
  --dark-color: hsl(214, 20%, 15%);
  --medium-color: hsl(212, 19%, 72%);
  --light-gray-bg: hsl(214, 56%, 94%);
  --medium-gray-bg: hsl(212, 33%, 90%);

  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.35;
}

* {
  box-sizing: border-box;
}

body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  padding: 10px;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}

header {
  filter: drop-shadow(0 0 5px hsla(214 10% 50% / 0.5));
}

header nav {
  display: flex;
  justify-content: space-between;
  max-width: var(--width);
  margin: auto;
  font-size: clamp(0.85rem, 3vw, 1rem);
}

h1 {
  font-size: clamp(1.2rem, 1rem + 3vw, 1.7rem);
  margin: 10px;
}

main {
  flex: 1;
  max-width: var(--width);
  margin: min(10px, 5vh) auto;
  padding: 10px 20px;
}

footer {
  color: var(--medium-color);
}

footer a {
  color: var(--light-color);
}

footer a:hover {
  color: var(--light-color);
  filter: drop-shadow(0px 0px 6px hsla(0deg 0% 100% / 0.5));
}
